APP_ENV=dev
APP_SECRET=your_secret_here_change_in_production
DATABASE_URL="mysql://patients_user:patients_password@db-patients:3306/cloud_health_patients?serverVersion=8.0"
KAFKA_BROKERS=kafka:29092
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
